<p id="notice"><%= notice %></p>

<div class="container-fluid">
<h1>Tests</h1>

  <table id="tests-datatable" class="table table-sm table-striped" data-source="<%= tests_path(format: :json) %>">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  jQuery(document).ready(function() {
  $('#tests-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#tests-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "id"},
      {"data": "name"},
      {"data": "position"},
      {"data": "office"},
      {"data": "start_date"},
      {"data": "salary"}
    ]
    // pagingType is optional, if you want full pagination controls.
    // Check dataTables documentation to learn more about
    // available options.
  });
});
</script>
